/* Navigation */

#navbar {
    display: flex;
    align-items: center;
}

#navbar {
    position: relative;
}


}
#logo {
    margin: 10px 34px;
}
#logo img {
    height: 33px;
    margin: 0px 0px;
    /* filter: invert(100%); */
    /* background-color: rgb(25, 0, 255); */
}

/*  nav bar : list styling */
#navbar ul {
    display: flex;
    list-style: none;
}
#navbar::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

}
#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a {
    color: rgb(255, 255, 255);
    list-style: none;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 4%;
}
#navbar ul li a:hover {
    background-color: rgba(77, 55, 55, 0.5);
    color: rgb(2, 0, 0);
}

/* home section  */
#home {
    position:static;
    padding: 79px 40px;
    ;
    color: #fff;
    width: 90%;
    left: 50%;
    top: 50%;
    text-align: center;
}
#home p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}
#home h1 {
    font-size: 26px;
    font-weight: bold;
}
#home::before {
    content: "";
    background-color: rgb(163, 140, 140);
    position: absolute;
    background-image:linear-gradient(rgba(61, 61, 61, 0.3), rgba(61, 61, 61, 0.3)),
    url(../img/pexels-tima-miroshnichenko-6914020.jpg);
    min-height: 100vh;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 1.95;
}
.btn {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 54px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
    /* transform: translate(-50%, -50%); */
}
.btn::after:hover {
    border: 2px solid #ffffff;
    background-color: #0a0a0a;
    transition: 0.5s;
}